<div style="position: fixed; bottom: 0px; right: 0px;">
	<a href="#" class="rscrolldre rscrUpdre"><span class="glyphicon glyphicon-chevron-up" ></span></a>
    <br>
    <a href="#toEndPage" class="rscrolldre rscrDowndre"><span class="glyphicon glyphicon-chevron-down" ></span></a>
    {#<!-- <div style="margin-bottom: 5px; position: relative;"></div> -->#}
</div>
{#<!-- 
можно добавить пункты для навигации:
внутри страницы можно просто присваивать элементам
в атрибуте id название тэга (якорь) по которому нужно перейти
можно делать невесомые элементы для этих целей, например div:
 -->#}