{#<!-- <style type="text/css">
    .rscrolldre {
        font-size: 20px;
        position: relative;
        float: right;
        margin-right: 0px;
        margin-bottom: 0px;
        color: rgba(82, 140, 132, 0.5);
        background-color: transparent;
        border: 3px solid transparent;
    }
    .rscrolldre:hover { color: rgba(82, 140, 132, 0.67); }
    .rscrolldre:focus { color: rgba(82, 140, 132, 0.77); outline: 0;}
    .rscrUpdre { padding: 15px 19px 12px 19px; }
    .rscrDowndre { padding: 15px 19px 12px 19px; }
</style> -->#}
<div style="position: fixed; bottom: 0px; right: 0px;">
	<a href="#" class="rscrolldre rscrUpdre"><span class="glyphicon glyphicon-chevron-up" ></span></a>
    <br>
    <a href="#toEndPage" class="rscrolldre rscrDowndre"><span class="glyphicon glyphicon-chevron-down" ></span></a>
    {#<!-- <div style="margin-bottom: 5px; position: relative;"></div> -->#}
</div>
{#<!-- 
далее внутри страницы можно просто присваивать элементам
в атрибуте id название тэга (якорь) по которому нужно перейти
можно делать невесомые элементы для этих целей, например div:

<div id="toEndPage"></div>
 -->#}