<div style="position: fixed; bottom: 0px; right: 0px;"">	   <!-- /* top: 50%;*/ -->
	<a href="#" style="    
		font-size: 20px;
    	position: relative;
    	float: right;
    	padding: 15px 19px;
        padding-bottom: 12px;
    	margin-right: 0px;
    	margin-bottom: 0px;
        color: #528c8475;
    	background-color: transparent;
    	background-image: none;
    	border: 3px solid transparent;
    	border-radius: 4px;"><span class="glyphicon glyphicon-chevron-up" ></span></a>

    <br>

    <a href="#toEndPage" style="    
		font-size: 20px;
    	position: relative;
    	float: right;
    	padding: 15px 19px;
        padding-top: 12px;
    	margin-right: 0px;
    	margin-bottom: 0px;
        color: #528c8475;
    	background-color: transparent;
    	background-image: none;
    	border: 3px solid transparent;
    	border-radius: 4px;"><span class="glyphicon glyphicon-chevron-down" ></span></a>
    <div style="margin-bottom: 5px; position: relative;"></div>
</div>

{#<!-- 
далее внутри страницы можно просто присваивать элементам
в атрибуте id название тэга (якорь) по которому нужно перейти
можно делать невесомые элементы для этих целей, например div:

<div id="toEndPage"></div>
 -->#}