{#<!-- <style type="text/css">
    .lscrolldre {
        font-size: 20px;
        position: relative;
        float: left;
        margin-left: 19px;
        margin-bottom: 0px;
        color: rgba(82, 140, 132, 0.27);
        background-color: transparent;
        border: 3px solid transparent;
        border-radius: 50px;
    }
    .lscrolldre:hover { 
        color: rgba(82, 140, 132, 0.67);
        background-color: rgba(32, 90, 100, 0.07);
    }
    .lscrolldre:focus { color: rgba(82, 140, 132, 0.77); outline: 0; }
    .lscrUpdre { padding: 15px 19px 12px 19px; }
    .lscrDowndre { padding: 15px 19px 12px 19px; }
</style> -->#}
<div style="position: fixed; top: 47%; left: 0px;">
	<a href="#" class="lscrolldre lscrUpdre"><span class="glyphicon glyphicon-chevron-up" ></span></a>
    <br>
    <a href="#toEndPage" class="lscrolldre lscrDowndre"><span class="glyphicon glyphicon-chevron-down" ></span></a>
    <!-- <div style="margin-bottom: 5px; position: relative;"></div> -->
</div>