<div class="postdre" id="post{{ post.id }}">
	<div>
		<h4><img src="{{ post.author.avatar(40) }}" style="margin-right: 7px; border-radius: 5px;">
				{{ post.author.username }} пишет:
		<span style="font-size: small;">{{ moment(post.timestamp).format("LLL") }}</span>
		</h4>
	</div>
	<div style="word-wrap: break-word; display: inline">
		<p>{{ post.body }}</p>
	</div>
</div>
{#<!--  	
<table class="table" style="font-size: 12pt;">
	<tr valign="buttom">
		<td><img src="{{ post.author.avatar(40) }}" style="margin-right: 7px; border-radius: 5px;"></td>
		<td><h3>{{ post.author.username }} пишет:<br></h3></td>		 
	</tr>
</table>
<p>{{ post.body }}</p>
--> #}