{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block title %}
	{% if title %}
	RedYax - {{ title }}
	{% else %}
	RedYax
	{% endif %}
{% endblock %}

{% block body_attribs %}
{{ super() }}
	style="padding-top: 57px;
	{% block body_style %}
		background-color: #f4f1f4;
	{% endblock %}
	"
{% endblock %}

{% block navbar %} 
<!-- navbar-default = light   navbar-inverse = dark -->
<!-- navbar-fixed-top = закрепить навбар при пролистывании страницы
но тогда нужно будет в самом начале страницы отступить на высоту навбара,
а то контент окажется спрятанным за него -->
<!-- navbar = обычная (незакрепленная навигационная панель) -->
<!-- если делать закрепленный, то смещать первый эл. на странице на 70px -->
<nav class="navbar-fixed-top navbar-inverse " role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" 
						data-target=".navbar-collapse">
				<span class="glyphicon glyphicon-menu-hamburger" style="color: white"></span>
			</button>
			<a href="{{ url_for('user') }}" class="navbar-brand" style="font-size: x-large;">RedYax</a>
		</div>
		<div class="collapse navbar-collapse " id="navbarCollapse">
			<ul class="navbar-nav nav">
				<li class=navbar-item>
					<a href="{{ url_for('login') }}" class="nav-link">sign in</a>
				</li>
				<li class=navbar-item>
					<a href="{{ url_for('index') }}" class="nav-link">homepage</a>
				</li>
				<li class=navbar-item>
					<a href="#" class="nav-link">blog</a>
				</li>
				<li>
					<a href="#">contact</a>
				</li>
				<li class=navbar-item>
					<a href="{{ url_for('about_me') }}" class="nav-link">about me</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %} <!-- navbar -->

{% block content %}
<div class="container">
	<div class="row row-">
		<div class="col-6">
			column1
		</div>
		<div class="col-6">
			column2
		</div>
	</div>
</div>
{% endblock %}	<!-- content -->

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
	{{ moment.lang('ru') }}
{% endblock %}


<!-- другие блоки шаблона base.html в bootstrap:

doc 			html-документ целиком
html_attribs 	атрибуты внутри тэга <html>
head 
title
metas 			список тэга <meta>
styles 			определение каскадных таблиц стилей
body_attribs 	атрибуты внутри тэга <body>
body 
navbar 			строка навигации, определяемая пользователем
content  		содержимое страницы, определяемое пользователем
scripts 		объявления JS внизу документа

(!) тэги styles, scripts используются расширенияем flask-bootstrap, их переопределение может вызвать затруднения, чтобы такого не произошло используй ф. super()
для наследования изменений, внесенных flask-bootstrap'ом

 -->




 <!-- 
{#
Статические файлы (фотки, js-скрипты, css)
по-умолчанию фласк ищет такие файлы в папкe static, прим:
url_for('static', filename='css/styles.css', _external=True) 
вернет http://localhost:5000/static/css/styles.css

Как включить ярлык favicon.ico в базовом шаблоне для отображения в адресной строке браузера:

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

#}  -->

 <!--  
для работы со временем есть расширение flask-moment (модуль на js) для работу нужна jquery (она идет вместе с bootstrap)

для работы с временными метками в расширении есть класс moment, доступный для исп. в шаблонах
  -->


<!-- {#
расширение flask-moment экспортирует методы:
format(), fromNow(), fromTime(), calendar(), valueOf(), unix()
из moment.js
подробнее здесь momentjs.com/docs/#/displaying
расширение предполагает, что отметки времени являются объектами
datetime и соостветсвуют часовому поясу UTC
для локализации на разные языки: из шаблона передай код языка в
ф. lang():		{{ moment.lang('ru') }}		{{ moment.lang('es') }}
 #}
 -->


 <!-- {# 
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
 #} -->
