{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">	
{#<!-- name="viewport" нужен чтобы корректно отображалась страница для всех устройст (например чтобы шрифты не были малюсенькими) -->
<!-- initial-scale=1 устанавливает начальное значение масштаба = 100% (от 0 до 1) -->
<!-- user-scalable=no запрещает увеличивать на мобильниках --> #}
{% endblock %}

{% block content %}

<div class=container style="color: #474747">
<div class="row">
<h1 style="text-align: center;">вход</h1> <br>

<div class="col-sm-6 col-sm-push-3 col-md-4 col-md-push-4">
	<form action="" method="post" style="max-width:336px">	{# <!-- именно max-width нужно устанавливать, чтобы если экран меньше, элементы автоматически становились меньше, но если экран большой, то элементы буду не больше 350px; в свою очередь дочерним элементам нужно в стиле указать max-width: 100%; чтобы это к ним применялось --> #}
		{{ form.hidden_tag() }}
		<p>
			<!--{# цвет будет применен для всех дочерних объектов, если в них нет переопр. для этого атрибута #}-->
			{{ form.username.label }}<br>
			{% if form.username.errors %}
			{{ form.username( size=35, placeholder="твой псевдоним", class="inputFielddre shadowErrdre") }}
			{% else %}
			{{ form.username( size=35, placeholder="твой псевдоним", class="inputFielddre shadowOkdre") }}
			{% endif %}			

			{#<!-- style="width: auto; display: initial;" -->
			<!-- {{ form.username.description }}	 -->
			<!-- display - то, как отобразится поле -->
			<!-- в классе form-control по умолчанию block, есть еще inline, initial, inherit (наследовать) и др -->
			<!-- width бутстрап по умолчанию делает 100% сделай auto для задания ширины в соотв. с атрибутом size (в данном случае size=32) -->
			

			<!--  {{ form.username(placeholder='here')}}  -->
			<!-- Добавим подсветку формы, если поле невалидно -->#}
			
			{% for error in form.username.errors %}
			<p style="color: #a73577;">{{ error }}</p>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}<br>
			{% if form.password.errors %}
			{{ form.password(size=23, class="inputFielddre shadowErrdre") }}
			{% else %}
			{{ form.password(size=23, class="inputFielddre shadowOkdre") }}
			{% endif %}
				{#<!-- и сюда добавим подсветку -->#}
			{% for error in form.password.errors %}
			<p style="color: #872657;">{{ error }}</p>
			{% endfor %}
		</p>
		<p>
			{{ form.confirm.label }}<br>
			{% if form.confirm.errors %}
			{{ form.confirm(size=23, class="inputFielddre shadowErrdre") }}
			{% else %}
			{{ form.confirm(size=23, class="inputFielddre shadowOkdre") }}
			{% endif %}
			{% for error in form.confirm.errors %}
			<p style="color: #872667;">{{ error }}</p>
			{% endfor %}
		</p>								
		<p>			
			{{ form.remember_me() }} &nbsp;	{{ form.remember_me.label }}
		</p>	
		<p>	{{ form.submit(class="btn btn-primary btn-block") }}	</p>
	</form>


	{% if data %}
		<p>выполнен вход как {{ data }}</p>
	{% else %} 
		<p>войди в систему</p>
		<p>еще не зарегистрировался? <a href="{{ url_for('signin') }}">клик</a></p>
	{% endif %}
</div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
	<div class="col-md-8 col-md-push-2  col-sm-10 col-sm-push-1">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
	    <div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">X</button>
	    	<ul>
	    	{% for message in messages %}
	    		<li>{{ message }}</li>
	    	{% endfor %}
	    	</ul>
	    </div>
        {% endif %}
    {% endwith %}
    </div>
</div> <!-- end row -->


    
</div> <!-- end container -->
{% endblock %}

{#<!-- 
Элемент HTML <form> используется в качестве контейнера для веб-формы. Атрибут action формы используется для того, чтобы сообщить обозревателю URL-адрес, который должен использоваться при отправке информации, введенной пользователем в форму. Если для действия задана пустая строка, форма передается URL-адресу, находящемуся в данный момент в адресной строке, то есть URL-адресу, который визуализирует форму на странице. Атрибут method указывает метод HTTP-запроса, который должен использоваться при отправке формы на сервер. По умолчанию он отправляется с запросом GET, но почти во всех случаях использование POST запрос, улучшающий взаимодействие с пользователем, поскольку запросы этого типа могут отправлять данные формы в тело запроса, в то время как запросы GET добавляют поля формы к URL-адресу, загромождая адресную строку обозревателя.
Аргумент шаблона form.hidden_tag() создает скрытое поле, включающее токен, который используется для защиты формы от CSRF атак. 
Для этого нужен ключ SECRET_KEY в основном приложении, либо
отдельный ключ конфигурации секретного ключа wtforms

для полей, которым требуются доп. атрибуты html, они могут быть переданы в качестве аргументов. Как поля username, password
принимают size - размер поля, который будет добавлен в 
html-элемент <input> в качестве атрибута. Таким же образом
можно присоединить классы CSS или идентификаторы к полям формы
 

сообщения об ошибках генерируются при проверки формы валидаторами
остается их только добавить.
form.<field_name>.errors
это будет список (т.к. поля могут иметь несколько валидаторов)


 -->#}